<div class="d-flex justify-content-center">
  <div class="card" style="width: 30rem">
    <div class="card-header">
      <h3>Employee detail</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>First name: </span>{{ employee.firstName }}
      </li>
      <li class="list-group-item">
        <span>Last name: </span>{{ employee.lastName }}
      </li>
      <li class="list-group-item">
        <span>Email Id: </span>{{ employee.emailId }}
      </li>
    </ul>
  </div>
</div>
